.headercontainer {
  background-color: #525e7e;
  overflow: hidden;
  display: flex;
}

.navlogo {
  width: 20%;
  height: 20%;
  padding: 10px 50px;
}

.topnav {
  overflow: hidden;
  position: absolute;
  top: 2%;
  right: 80px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.secondlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.welcomepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.textoverlapcontainer{
  position: relative;
}

.overlaptext{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 17px;
  color: #ffffff;
  margin-left: auto;
  font-size:xx-large;
  font-family: "Roboto", sans-serif;
  
  
}


.grayboxes {
  display: flex;
  padding: 50px;
}

.firstbox {
  font-family: "Roboto", sans-serif;
  background-color: #BDBDBD;
  margin: 10px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 4px gray;
  font-size: smaller;
  padding: 10px;
}

@media screen and (max-width:768px){
  .grayboxes {
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }

  .aboutcontainer{
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    width: 110%;
  }

  .textblock{
    width: 100%;
    
  }
}
.icons {
  width: 30%;
  padding: 20px;
  color:rgb(32, 58, 32)
}


.button { 
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #BAC2C8;
  width: 160px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1 );
  color: white;
  border: none;
  text-decoration : none;
  display: block;
  margin: 20px auto;
}
  


.noteprogram {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 10%;
  width: 80%;
  padding: auto;
  margin-inline-start: 10%;
  text-align: center;
}

.gridcontainer {
  display: flex;
}

.gridcontaineritem {
  padding: auto;
  margin-inline-start: 10%;
  text-align: center;
}

.closingtext{
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.opensign {
  display: flex;
}

.opensignimg {
  width: 11%;
}

.votre {
  font-family: "Roboto", sans-serif;
  margin: 70px 7px auto;
  width: 50%;
  padding: 10px;
  color: darkslategray;
  font-weight: bold;
}

.row {
  display: flex;
}

.footerlogo {
  width: 5%;
  height: 5%;
  padding: 20px;
}

.socialmedia {
  width: 12%;
  padding: 15px;
}

.footer {
  background-color: #525e7e;
  padding: 30px 0;
}

.footer-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  width: 25%;
  font-family: "Roboto", sans-serif;
}

.welcomemessage {
  text-align: center;
}

body {
  background-color: #ebe9e9e3;
}

.font {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width 768px) {
}


.aboutcontainer {
  display: flex;
  text-align: left;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  }

.textblock {
  width: 50%;
  padding: 20px auto;
}

.aboutpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  padding: 50px, 50px, auto;
  height: 100%;
}

.address {
  padding: 40vh;
}

.map {
  padding: 40vh;
  margin-top: 50px;
  margin-bottom: 50px;

}

.attend {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size:x-large
}
.dites {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size:x-large
}

.signupcontainer {
  padding: 40vh; 
}
/* css for input form*/

input{
  background: gray;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 0;
  display: block;
  width: 100%;

}

.submitbutton{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #BAC2C8;
  width: 160px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1 );
  color: white;
  border: none;
  text-decoration : none;
  display: block;
  margin: 20px auto;
}

#modal {
  display: block;
  position: fixed;
  width: 20vw;
  height: 20vh;
  background: white;
  
}